---
title: Home
layout: home
permalink: index.html
main-menu-order: 1
---

<section class="pad-tb pattern-bg-img">

  <h2 class="visuallyhidden">About Suna</h2>

  <div class="pad con">

    {% include page-incs/home/about.html %}

  </div>
</section>


<section class="pad-tb">
    <h2 class="visuallyhidden">Events</h2>
  <div class="pad con con--wider">

    {% include page-incs/home/events.html %}

  </div>
</section>

<section class="pad-tb">
    <h2 class="visuallyhidden">News</h2>
  <div class="pad con">

    {% include page-incs/home/news.html %}

  </div>
</section>


<section class="pad-tb">
    <h2 class="visuallyhidden">Our Criteria</h2>
  <div class="pad con con--wider">

    {% include page-incs/home/criteria.html %}

  </div>
</section>


<section class="pad-tb">
    <h2 class="align-center">Academic Programs</h2>
  <div class="pad con">

    {% include page-incs/home/programs.html %}

  </div>
</section>


<section class="pad-tb fsh fsh-media tpc tpc--cover">
    <h2 class="visuallyhidden">Partners</h2>
  <div class="pad con pos-rel">

    {% include page-incs/home/donate.html %}

  </div>
</section>
