---
layout: page
program-name: Certificate in Communication and Information Technology
order: 1
duration: 3 Months
tuition: D4,000.00
sessions: 2 Times/Week
image-path: assets/images/student1.jpg
image-description: "some description of the photo come here"
description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua."
---


  <div class="main-content content-up wow slideInRight">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="academics.html">Academics</a>
        </li>
        <li>
          <a href="programs.html">Programs</a>
        </li>
        <li>
          {{ page.program-name }}
        </li>
      </ol>

      <h1>{{ page.program-name }}</h1>

      <p>
       This course is a comprehensive preparatory Information and Communication Technology (ICT) course that serves as a feeder to any other higher level courses within the discipline of Information Technology and Communication. The course will dealt with fundamentals topics in Information Communication Technology such as; Introduction to computers, history of computers, hardware and software, the different kind of hardware and software, operating systems, categories of hardware and software, Graphical user interface, cloud computing, desktop environment and finally to open a Gmail account as the hands-on for students. 
      </p>

       <figure>
         <img class="media-is-responsive" src="{{ page.image-path }}" alt="{{ page.image-description }} photo">
         <figcaption>
           {{ image-description }}
         </figcaption>
       </figure>

      <p>
        The course does not only teach the students the fundamental concepts of ICT but also provide room for applications of every concept learned in class with hands-on. Finally, the Microsoft Office packaged in covered in details ranging from MS Word, MS Excel, MS PowerPoint and MS Access. In each of the above applications, students are given projects to accomplish which are real life challenges within the society. 
      </p>
      <p>
        Among the projects the students will be doing will be to automate any report card of a school which will be a project for excel after the completion of the module and the same applies to all the remaining application. The course will entail, several assignments from all the modules covered in class and there will be group work and presentations as well.
      </p>

      <h2>Requirement</h2>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>

      <h2>Duration</h2>
      <p>
        {{ page.duration }} and {{ page.sessions }}
      </p>

      <h2>Tuition</h2>
      <p>
        {{ page.tuition }}
      </p>









      <hr>

      {% include site-incs/pager.html %}


  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/programs/programs-menu.html %}
  </aside>
