---
layout: page
program-name: Web Programming II
order: 5
duration: 4 Months
tuition: D6,000.00
sessions: 2 Times/Week
image-path: assets/images/student5.jpg
image-description: "some description of the photo come here"
description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua."
---


  <div class="main-content content-up">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="academics.html">Academics</a>
        </li>
        <li>
          <a href="programs.html">Programs</a>
        </li>
        <li>
          {{ page.program-name }}
        </li>
      </ol>

      <h1>{{ page.program-name }}</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

       <figure>
         <img class="media-is-responsive" src="{{ page.image-path }}" alt="{{ page.image-description }} photo">
         <figcaption>
           {{ image-description }}
         </figcaption>
       </figure>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h2>Requirement</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h2>Duration</h2>
      <p>
        {{ page.duration }} and {{ page.sessions }}
      </p>

      <h2>Tuition</h2>
      <p>
        {{ page.tuition }}
      </p>


      <hr>
     {% include site-incs/pager.html %}

  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/programs/programs-menu.html %}
  </aside>
