<div class="g is-multi-line is-gutters">

  <div class="g__item is-half wow bounceInLeft">
    <h2>Get to know Suna Institute of Science and Technology</h2>

     <p>
        SUNA Institute of Science and Technology (<abbr title="SUNA Institute of Science and Technology">SIST</abbr>) is a science and information technology (IT) educational institution that provides
quality IT education and consulting.
      </p>

    <p>
        Suna Institute of Science and Technology (SIST) was conceived by Mr. Alhagie Jallow in September, 2013 while he was a final year BSc student majoring Information Systems in the School of Information Technology and Communications at The University of The Gambia.
      </p>

  </div>

  <div class="g__item is-half wow bounceInRight">


      <p>
        Alhagie has long dreamed of being able to create positive changes and enhanced happy livelihoods for almost every person he meets and interacts with.  He is a young, creative, innovative and results-oriented person who recognized what the potentials of technology and a digital economy could offer towards the advancement of humanity in general, but especially in The Gambia. As a native Gambian, he believes charity begins at home. He began to learn about the most pressing social and technological needs of the Gambian populace...
    </p>

    <a href="about.html" class="btn">Read More →</a>
  </div>
</div>
