<!-- <ul class="reset-list g is-multi-line is-gutters">

  <li class="g__item align-center">
    <img class="media-is-responsive" src="assets/images/partners/suna.png" alt="card image name here">
  </li>

  <li class="g__item align-center">
    <img class="media-is-responsive" src="assets/images/partners/utg.gif" alt="card image name here">
  </li>

  <li class="g__item align-center">
    <img class="media-is-responsive" src="assets/images/partners/utg.gif" alt="card image name here">
  </li>

  <li class="g__item align-center">
    <img class="media-is-responsive" src="assets/images/partners/suna.png" alt="card image name here">
  </li>

</ul> -->



<div class="card card--support  wow bounceInLeft" data-wow-delay=".9s">

  <h3 class="title">Support Us to Support others </h3>

  <div class="g is-multi-line is-gutters">

  <div class="g__item is-half">
    <p>
      SUNA <abbr title="Institute of Science and Technology">IST</abbr> is, establish to provide life changing ICT education and job opportunity for the youths and children with aim to realize their fullest potential and we believe that, with your assistance we will be able to do bigger and better.
    </p>


  </div>

  <div class="g__item is-half">


    <a href="donate.html" class="btn">See how to support us &rarr;</a>
  </div>

  </div>


</div>



