---
title: Programs
layout: page
permalink: programs.html
side-menu-academics-order: 1
---

  <div class="main-content content-up">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="academics.html">Academics</a>
        </li>
        <li>
          {{ page.title }}
        </li>
      </ol>

      <h1>{{ page.title }}</h1>

      <p>
        At SUNA, we offer a wide range of programs to cater for the difference in choices of people studying information communication technology. We cover most things that might not have been deemed necessary elsewhere and also provides the practical knowledge required for execution; theory is not the only basis we teach on.
      </p>

     <p>
        Choosing the right programs to offer our students puts us in the position of producing potential students who will excel in their various chosen careers with ease in the future, a sign of a productive time of learning and education, something every willing student should opt for. Each program touches on the relevant details of the specific discipline and goes in depth to explain even beyond that for more understanding and clarification.
     </p>

      <p>
        We have registered with the ministry of justice, GPPA and National Training Authority. Below, are the list programs we offer
      </p>

      <div class="g is-multi-line is-gutters">

      {% assign programs = site.programs | sort: 'order' %}
      {% for program in programs %}
      <div class="g__item is-half">
        <div class="card card--wild magb">

          <h2 class="card__head">{{ program.program-name }}</h2>

          <img class="media-is-responsive" src="{{ program.image-path }}" alt="{{ program.image-description }} photo">

          <div class="card__body">
            <p>
            {{ program.description }}
            </p>

            <a href="{{ program.url | replace: '/', '' }}.html" class="btn">See full Program Details &rarr;</a>
          </div>

        </div>
      </div>

    {% endfor %}

    </div>



  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/programs/programs-menu.html %}
  </aside>
