.main-menu {

  background-color: $primary;
  z-index: $z-index-nav;

  @include respond-to(screen-small) {
    display: flex;
    align-items: center;

  }

}


.main-menu__list {

  a {

    color: $white;

    &:hover {
      color: #d6f0ff;
    }

    &.is-active {
      border: 2px solid $white;
      border-radius: 3px;
    }
  }

  &.is-hidden {
    display: none;
  }

  @include respond-to(screen-small) {



    &.is-shown {
      display: block;
    }

    li {
      display: inline-block;

      &:last-child {
        margin-right: $spacer*2;
      }
    }
  }

}



