<div class="pad con con--wider">

  <div class="g is-multi-line is-gutters">

    <div class="g__item is-half is-third">

        <h2>
          Suna Institute of <br>
          Science and Technology
        </h2>
         <p>
        SUNA Institute of Science and Technology (<abbr title="SUNA Institute of Science and Technology">SIST</abbr>) is a science and information technology (IT) educational institution that provides
quality IT education and consulting.
      </p>
        <a href="about.html" class="btn">Read More &rarr;</a>

    </div>

    <div class="g__item is-half is-third">

        <h2>
          Contact and Connect with us
        </h2>
        <address>
          Suna Institute of
          Science and Technology <br>
          Global Complex Building <br>
          Opposite Brikama Police Station, Brikama.
        </address>

        <address>
          <a href="tel:+220">
            {{ site.phone }}
          </a> <br>
          <a href="mailto:info@suna.edu.gm">
              {{ site.email }}
          </a>
        </address>


        <a href="{{ site.facebook }}" class="btn">Facebook &rarr;</a>


    </div>

    <div class="g__item is-third">
        <h2>
          Quick links
        </h2>
        <nav class="nav nav--tertiary">
          <a href="how-to-apply.html">Apply &rarr;</a>
          <a href="#">Login &rarr;</a>
          <a href="#">Webmail &rarr;</a>
          <a href="donate.html">Sponsor a Student &rarr;</a>
          <a href="mission-and-vision.html">Mission &amp; Vision &rarr;</a>
          <a href="programs.html">Programs &rarr;</a>
          <a href="staff.html">Staff &rarr;</a>
          <a href="faqs.html">FAQs &rarr;</a>
          <!-- <a href="gallery.html">Gallery &rarr;</a> -->
        </nav>

    </div>

  </div>

  <div class="align-right">
    <small>
      © 2013 - {{ site.current-year }} Suna Institute of
          Science Technology
    </small><br>
    <small>
      <a class="btn author" href="dev-team.html">Lovingly crafted by this awesome team →</a>
    </small>
  </div>

</div>
