<div class="top-menu pos-rel">

    <div class="top-menu__contacts is-hidden is-shown">
      <span>
        Opening Hrs: Mon - Sat: 8:00am - 6:00pm |
      </span>

      <a href="tel:+220">
        {{ site.phone }} |
      </a>

      <a href="mailto:info@suna.edu.gm">
        {{ site.email}}
      </a>
    </div>

    <nav class="nav">
      <a href="how-to-apply.html">Apply</a>
      <a href="#">Login</a>
      <a href="#">Webmail</a>
      <a href="donate.html">Support</a>
    </nav>

</div>
