---
layout: page
staff-name: Mr. Alhagie Jallow
order: 1
designation: Chief Executive Officer
area: Administration
qualification: Msc
image-path-thumb: assets/images/staff/a-jallow-thumb.jpg
image-path: assets/images/staff/a-jallow.jpg
phone: number here
email: email here
---

  <div class="main-content content-up wow slideInRight">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
         <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="staff.html">Staff</a>
        </li>
        <li>
          {{ page.staff-name }}
        </li>
      </ol>


        <img src="{{ page.image-path }}" alt="{{ page.staff-name }}'s passport photo" class="avatar avatar--thumbnail-rounded pull-right">

          <h1>{{ page.staff-name }}</h1>
          <span><b>{{ page.designation }}</b></span>

          <hr>

          <h2>Area</h2>
          <p>
            {{ page.area }}
          </p>

          <h2>Highest Education</h2>
          <p>
            <b>{{ page.qualification }}</b>
          </p>

          <h2>Profile</h2>

          <p>
          Alhagie Jallow: I was born in Dutabulu village, largely an agrarian society in the North Bank Region of the Gambia to two committed farmers. I grew up into this profession without any opportunity to formal education.
          </p>

          <p>
          Knowing the importance of literacy, I began to align myself with those already in the system. I smoothened a 2Km road to a neighbouring town, Farafenni to provoke my dreams of sitting on a bench and place hands on a table.
          </p>

          <p>
          Owing to traditional roles such as seasonal subsistence farming and rearing of cattle in most part of the year, the first son of my parents was not expected to demonstrate commitment on other than the way of my father.
          </p>

          <p>
          I therefore had to keep other wishes to myself until the age of ten when I decided to shamelessly disclose my admiration of the life of school boys to my father. Knowing that a son is the only source of support on sustaining a family, the old man begged me not to disgrace the family. He feared that we may run into hunger due to low farm labour and control of the herds. At this stage as a helpless boy had a single option of wishing myself for the best with the silent call that “I will, and must be in school one day.”
          </p>

          <h3>Career Venture</h3>

          <p>
          At the age of 16, my parents agreed to allow me to pick up a new career to be able to financially support the family as exemption to the farm works. I travelled to the city to work under one cousin as apprentice to a minibus plying roads from villages to towns within the West Coast Region.
          </p>

          <p>
          In this business, I felt that the work conditions on the traffic are little better than those of my first profession, so it did not settle my urges. Thanks to the far distance away from home, I felt that it was better to now follow my real feeling even though I was not expected to be in school.
          </p>

          <p>
          Due to fear that I may become idle in the streets of towns, a close relative decided to send me to school. My age was two time more than the entry age to primary school which suggested that I could be labelled as “a father” by mates the moment I put on a uniform for class, as the case with overaged students. However, the courage in me overshadowed these common fears, hence I stepped feet in the third grade at Latrikunda Yringanya Primary School on Wednesday 22nd January 2003.
          </p>

          <h3>Secondary School</h3>

          <p>
          As a result of hard work and commitment to my studies, I completed primary school in two years and moved to the junior school level. At Glory Baptist, I followed the ladder through senior secondary school where I received the award of “Best Science Student” after the West Africa Senior School Certificate Examination (WASSCE).
          </p>

          <p>
          At the graduation festival, I solitarily posed for a photo. None of my parents was reachable to grace the occasion with me because of poor communication facilities in the village to invite them.
          </p>

          <h3>Tertiary Education</h3>

          <p>
          My efforts at the high school earned me a flight ticket to the University of The Gambia where I had to inevitably tighten my belt for the academic career. Needless to say, it was full of challenges such as expenses in terms of tuition fee, house rent, and transportation.
          </p>

          <p>
          Being a technically oriented person, I attached myself to a mobile phones technician to be able to raise funds to start my courses a year before I secure scholarship to study medicine in Cuba.
          </p>

          <p>
          I decided to return home after I discovered that the medical field was not in line with my professional urges three month later. At first, this decision was not comprehensible to my previous university when I requested to continue my studies.
          The very semester in which I resume, I managed to restore my own confidence and trust of others on me with a score of A grade in three courses and B in two.
          </p>




          <hr>

        {% include site-incs/pager.html %}




  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/about/about-menu.html %}
  </aside>





