---
layout: page
staff-name: Mr. Bully Bojang
order: 7
designation: Head, Technical Department
area: Consulting
qualification: Diploma
image-path-thumb: assets/images/staff/b-bojang-thumb.jpg
image-path: assets/images/staff/b-bojang.jpg
phone: number here
email: email here
---

  <div class="main-content content-up">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
         <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="staff.html">Staff</a>
        </li>
        <li>
          {{ page.staff-name }}
        </li>
      </ol>


        <img src="{{ page.image-path }}" alt="{{ page.staff-name }}'s passport photo" class="avatar avatar--thumbnail-rounded pull-right">

          <h1>{{ page.staff-name }}</h1>
          <span><b>{{ page.designation }}</b></span>

          <hr>

          <h2>Area</h2>
          <p>
            {{ page.area }}
          </p>

          <h2>Highest Education</h2>
          <p>
            <b>{{ page.qualification }}</b>
          </p>

          <h2>Profile</h2>

         <p>
           Mr. Bully Bojang is a young motivated Gambian who attended his senior school at Masroor Senior Secondary School   where he graduated in 2013 and move on to SUNA institute of science and Technology to study Information Communication Technology.     
           </p>

         <p>
           Mr. Bojang started his certificate programme in January 2014 with an aim in Technology. Upon completion he proceeds to the diploma programme in 2015 and got good grades. At the verge of the diploma programme, Mr. Bojang was sent for an internship Training for a month.  He was posted at SUNA so as to develop his skill in information Technology. After completion of his internship, he was recommended that he is a hardworking and dedicated young man, so the Management team decided to Staff him.  
            </p>

         

         <p>
           In July 2016, Mr. Bojang was appointed as the personal assistant under the consultancy department at suna institute of science and technology to assist in the designing aspects.
         </p>

          <p>
          In July 2017,  which marked his complete one year working at suna institute, he is now appointed as the head of the consultancy department via his competent and endeavors towards the institute.  
          </p>  


          <hr>

       {% include site-incs/pager.html %}




  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/about/about-menu.html %}
  </aside>





