---
layout: page
staff-name: Mr. Ebrima Bah
order: 3
designation: Admin Manger
area: Administration
qualification: Bsc
image-path-thumb: assets/images/staff/e-bah-thumb.jpg
image-path: assets/images/staff/e-bah.jpg
phone: number here
email: email here
---

  <div class="main-content content-up wow flipInY">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
         <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="staff.html">Staff</a>
        </li>
        <li>
          {{ page.staff-name }}
        </li>
      </ol>


        <img src="{{ page.image-path }}" alt="{{ page.staff-name }}'s passport photo" class="avatar avatar--thumbnail-rounded pull-right">

          <h1>{{ page.staff-name }}</h1>
          <span><b>{{ page.designation }}</b></span>

          <hr>

          <h2>Area</h2>
          <p>
            {{ page.area }}
          </p>

          <h2>Highest Education</h2>
          <p>
            <b>{{ page.qualification }}</b>
          </p>

          <h2>Manager’s Reflection</h2>

         <p>
          Compelled by the human resource reinforcement opportunity, I joined SUNA as an apprentice, became a manager, and served as a team coach for a complete year.
         </p>

         <p>
          The whole web of the institute is directed towards testing and utilising talents in the translation of knowledge into performance enhancing products and services. The institute hosts engineers of ideas and pedagogists in the creation of value added life on the user and consumer.
         </p>

         <p>
           Usually, computer being the watch tool at work is dominantly in the hands of adults especially workers and students. This situational pyramid in the community is inverted at SUNA by decorating children to be the most important learners in the eye of the management. More and more parents and guardians began to see no better option than to entrust their children to the computer school.
         </p>

         <p>
           Within two years, kids in the school become youngsters who vie for benefits beyond just leisure relationship with the computer. As they begin to master applications and processes, they yearn for quality and accept the task for qualifications.
         </p>

         <p>
          Administratively, every department is a competitor to the other irrespective of their different areas of focus. Such that, continuously, the planners task the marketers; the marketers task the lecturers; the lecturers task the developers; the developers task the management; the management task the board, and so on.
         </p>

         <p>
          So the line of monitoring and evaluation is there to constantly stimulate the business web at SUNA. A system is in place to facilitate self assessment for each department and the use of “home grown” templates to implement the business ideas within and outside the institute.
         </p>

         <p>
          The school department gives itself no holiday in the review of its system and standard. It interpret standard chiefly by the impact of its products in the various places they land to serve.
         </p>

         <p>
          Against my initial expectations of what management was to look like, my experience at SUNA was build on a family-like household. It is exactly where each of the staff is a part facilitating the ever existence, growth, and advancement of the body, SUNA.
         </p>


          <hr>

        {% include site-incs/pager.html %}




  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/about/about-menu.html %}
  </aside>





