---
layout: page
staff-name: Mr. Ebrima Ceesay
order: 0
designation: Admin Adviser
area: Administration
qualification: Bsc
image-path-thumb: assets/images/staff/profile.jpg
image-path: assets/images/staff/e-ceesay.jpg
phone: number here
email: email here
---

  <div class="main-content content-up wow fadeInLeft">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
         <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="staff.html">Staff</a>
        </li>
        <li>
          {{ page.staff-name }}
        </li>
      </ol>


        <img src="{{ page.image-path }}" alt="{{ page.staff-name }}'s passport photo" class="avatar avatar--thumbnail-rounded pull-right">

          <h1>{{ page.staff-name }}</h1>
          <span><b>{{ page.designation }}</b></span>

          <hr>

          <h2>Area</h2>
          <p>
            {{ page.area }}
          </p>

          <h2>Highest Education</h2>
          <p>
            <b>{{ page.qualification }}</b>
          </p>

          <h2>Profile</h2>

         <p>
           Mr. Ceesay holds a higher teachers’ certificate in education from the Gambia College in 2004. He also obtained a Bachelor of Science (Hons) degree in political science & history from the University of the Gambia.
         </p>

         <p>
           Mr. Ceesay holds a higher teachers’ certificate in education from the Gambia College in 2004. He also obtained a Bachelor of Science (Hons) degree in political science & history from the University of the Gambia.
         </p>


         <p>


             He is currently the vice principal of kinderdrof Bottrop Technical Senior Secondary School in Brikama. Additionally, he is a chief examiner at WAEC and also author of the following:
            <ul>
              <li>  Mastering African History with Essay</li>
              <li>  Mastering Natural History with Essay</li>
              <li> Mastering Government with Essay</li>
            </ul>
         </p>
           <p>
             He has a cast experience in the education sector, approximately 10 years.  
           </p>




          <hr>

       {% include site-incs/pager.html %}




  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/about/about-menu.html %}
  </aside>





