---
layout: page
staff-name: Ms. Fatoumata Sankareh
order: 5
designation: Admin Officer and Financial Controller
area: Administration
qualification: Diploma
image-path-thumb: assets/images/staff/f-sankareh-thumb.jpg
image-path: assets/images/staff/f-sankareh.jpg
phone: number here
email: email here
---

  <div class="main-content content-up wow slideInRight">

      <ol class="reset-list breadcrumb breadcrumb--raquo">
        <span class="visuallyhidden">You are here:</span>
        <li>
          <a href="index.html">Home</a>
        </li>
         <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="staff.html">Staff</a>
        </li>
        <li>
          {{ page.staff-name }}
        </li>
      </ol>


        <img src="{{ page.image-path }}" alt="{{ page.staff-name }}'s passport photo" class="avatar avatar--thumbnail-rounded pull-right">

          <h1>{{ page.staff-name }}</h1>
          <span><b>{{ page.designation }}</b></span>

          <hr>

          <h2>Area</h2>
          <p>
            {{ page.area }}
          </p>

          <h2>Highest Education</h2>
          <p>
            <b>{{ page.qualification }}</b>
          </p>

          <h2>Profile</h2>

         <p>
          Fatoumata sankareh, she is a young Gambian who hailed from Busumbala village in West Coast Region. She graduated from Sheikh Hamdan Senior Secondary School at Yundum, where she sat to the West African Senior Secondary Certificate Examination (WASSCE) in the year 2012. Upon completion, she proceeded to study a certificate level program in Information Communication Technology at Quantum net Institute of Technology.
         </p>

         <p>
           After completing the ICT program at Quantum net, she bagged a couple of training on leadership, first aid training, child right and protection at the Gambia Red Cross Society.
         </p>

         <p>
           She joined SUNA IST as an intern at the marketing department on February 23, 2016, for the period of three months. As a result of her outstanding contribution, innovation and coordination, she was promoted to the position of a Financial Controller of the Institute. Within the said period, she was able to efficiently manage the financial transactions and expenditure pattern of the institute with minimal supervision.
         </p>

         <p>
           In August 2016, she had an added responsibility as the Assistance Administrative Officer of the Institute to be responsible for all the financial and administrative affairs. These proven tracks of professional excellence, diligence and effectiveness would not be materialised without the unflinching support and corporation from other members of the team.
         </p>

         <p>
          Recently in February 2017, which marked her complete one year working at Suna IST, she is now appointed as the Administrative officer of the Suna Institute of Science &amp; Technology. To this end, she really valued this experience as it helped her develop skills of communication, teamwork, and leadership.
         </p>



          <hr>

        {% include site-incs/pager.html %}




  </div>

  <aside class="sidebar js-sidebar-fixed" role="complementary">
    {% include page-incs/about/about-menu.html %}
  </aside>





