---
layout: default
---

<div class="sw">

  <header class="site-header fsh fsh--banner fsh-media  tpc tpc--cover" role="banner">

    {% include site-incs/top-menu.html %}

    {% include site-incs/main-menu.html %}

  </header>


	<main role="main">
    <div class="con site-body">

      <article class="article content-up">
        <header>
          <h1 class="article__title align-center">{{ page.title }}</h1>

          <hr>

          <p class="align-center">
            <span>
              {% assign words = content | number_of_words %}
              {% if words < 360 %}
                1 min Read
              {% else %}
                {{ words | divided_by:180 }} mins Read
              {% endif %}
            </span> |
            <time datetime="">
             {{ page.date |  date: "%b %-d, %Y"}}
          </time>
          </p>



          <figure>
            <img class="card__media media-is-responsive" src="{{ page.image-path }}" alt="{{ page.title }}">
          </figure>

        </header>

        <div class="site-body--article">
            {{ content }}
        </div>

      </article>

    </div>
	</main>

	<footer class="site-footer" role="contentinfo">

		{% include site-incs/footer.html %}

	</footer>

</div>
