---
layout: default
---

<div class="sw">

  <header class="site-header fsh fsh-media tpc tpc--cover" role="banner">

	  {% include site-incs/top-menu.html %}

	  {% include site-incs/main-menu.html %}

    <div class="pos-abs pos-abs--bottom">
      <span class="tpc__item">
        Diploma in Information Technology student's final presentation, after returning from internship.
      </span>
      <a href="#" class="tpc__item tpc__item--btn">Read Full Story →</a>
    </div>

	</header>


	<main role="main">

		{{ content }}

	</main>

	<footer class="site-footer" role="contentinfo">

		{% include site-incs/footer.html %}

	</footer>

</div>
